<div class="cointerner">
    <div class="row">
        <nav >
            <img src="../../../assets/Meri.jpg" alt="perfil" class="imgperfil">
            <!-- <h3>Mariela Nabia</h3> -->
            <div class="socials">         
                 <a aria-label="Angular on github" target="_blank" rel="noopener" href="https://github.com/Meripip/ProyectoIntegrador-NabiaMariela" title="github">   
        <img
        id="github-logo" 
        width="20" height="20" fill="none"
        viewBox="0 0 400 400"
         src="../assets/github.png" 
         alt="Github logo">

    </a>
    <a aria-label="Angular on Linkedin" target="_blank" rel="noopener" href="https://www.linkedin.com/in/mariela-nabia-developer" title="linkedin">
        <img
        id="linkedin-logo" 
        width="20" height="20" fill="none"
        viewBox="0 0 400 400"
         src="../assets/linkedin.png" 
         alt="Linkedin logo">
    </a> 
            </div>
            <ul class="nav flex-column" >
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" style="color: black;">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="sobreMi.html" style="color: black;">Sobre mi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="experiencia.html" style="color: black;">Experiencia</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="educación.html" style="color: black;">Educación</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href="proyectos.html" style="color: black;">Habilidades</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href="proyectos.html" style="color: black;">Proyectos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href="contacto.html" style="color: black;">Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" style="color: black;"><i class="bi bi-pencil-square"></i></a>
              </li>
            </ul>
          </nav><!-- .nav-menu -->

    </div>

</div>
