/* h2{
 border-bottom: 0.1rem solid linear-gradient( to right, rgb(12, 241, 12), white, blue );
margin-bottom: 0%;
} */


#about{
    padding-left: 25%;
    margin-top: 2rem;
    }

.linea{
   margin-top: 0%;
    height: 1vh;
    background: linear-gradient( to right, rgb(12, 241, 12), blue ); 
   }    