<div class="container" *ngIf="usuario">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                 
                <div class="form-group">
                    <label for="descripE">Cambiar Imagen:</label>
                    <input type="text" class="form-control mt-2" id="descripE" name="descripE" [(ngModel)]="usuario.imgE" required>
                </div>
                
                <button class="btn btn-dark m-3">
                    Actualizar
                </button>
                <button (click)="cancelar()" class="btn btn-secondary">
                    Cancelar
                </button>
            </div>
            </form>
        </div>
    </div>
