<div class="cointerner">
    <div class="row" >
        <nav *ngFor="let persona of persona" >
           <!--  <img src="../../../assets/MeriCV.jpeg" alt="Ingrese una imagen" class="img-fluid imgperfil"> -->
            <img src="{{persona.imgE}}" alt="Ingrese una imagen" class="img-fluid imgperfil"> 
            <br>
            <div id="Bot">
            <button class="btn btn-light p-2 m-2 " *ngIf="isLogged" routerLink="/editusuarionavbar/{{persona.id}}" > 
              <i class="bi bi-pencil-fill"></i>
            </button>
            </div>
            <!-- <h3>Mariela Nabia</h3> -->
            <div class="socials">         
                 <a aria-label="Angular on github" target="_blank" rel="noopener" href="https://github.com/Meripip/ProyectoIntegrador-NabiaMariela" title="github">   
        <img
        id="github-logo" 
        width="20" height="20" fill="none"
        viewBox="0 0 400 400"
         src="../assets/github.png" 
         alt="Github logo">

    </a>
    <a aria-label="Angular on Linkedin" target="_blank" rel="noopener" href="https://www.linkedin.com/in/mariela-nabia-developer" title="linkedin">
        <img
        id="linkedin-logo" 
        width="20" height="20" fill="none"
        viewBox="0 0 400 400"
         src="../assets/linkedin.png" 
         alt="Linkedin logo">
    </a> 
            </div>
            <div class="linea"><p></p></div>
            <div class=" col-md-12 col-lg-12 text-center" >
            <ul class="nav flex-column " >
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" style="color: black;">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="" routerLink="perfil" style="color: black;">Sobre mi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="" routerLink="expe" style="color: black;">Experiencia</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href=""  routerLink="edu" style="color: black;">Educación</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href=""  routerLink="hys"  style="color: black;">Habilidades</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href=""  routerLink="proye"  style="color: black;">Proyectos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href=""  routerLink="contacto"  style="color: black;">Contacto</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link disabled" style="color: black;"><i class="bi bi-pencil-square"></i></a>
              </li> -->
            </ul>
          </div>

           
             <!-- <div>
             <img
               id="user-logo" 
               width="120" height="100" fill="none" 
               viewBox="0 0 400 400"
                src="../../../assets/merilogo.png" 
                alt="user logo">
                
                </div> -->
          </nav><!-- .nav-menu -->
         
    </div>

</div>
