#skills{
    padding-left: 25%;
    margin-top: 2rem;
   
    }

    circle-progress{
        width: 20%;
        height: 20%;
    }

    .linea{
        margin-top: 0%;
        margin-bottom: 1rem;
         height: 1vh;
         background: linear-gradient( to right, rgb(12, 241, 12), blue ); 
        }   