/* * {padding: 0%;
    margin: 0%;
    background-image: url(https://static.vecteezy.com/system/resources/previews/007/629/351/original/colorful-seamless-hexagon-pattern-background-free-vector.jpg); 
    object-fit:contain; 
     background-size:contain; } */

#skills{
    padding-left: 25%;
    margin-top: 2rem;
   
    }

    circle-progress{
        width: 20%;
        height: 20%;
    }

    .linea{
        margin-top: 0%;
        margin-bottom: 1rem;
         height: 1vh;
         background: linear-gradient( to right, rgb(12, 241, 12), blue ); 
        }   